*{
    box-sizing: border-box;
    background-color: grey;
}

body{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.calculator{
    height: 700px;
    width: 450px;
    border: 4px solid red;
    border-radius: 30px;
}


.console{
    height: 200px;
    width: 450px;
}
.console input{
    text-align:right;
    height: 200px;
    width: 450px;
    border: 4px solid red;
    border-bottom: transparent;
    border-radius: 30px 30px 0 0;
    padding: 5px 5px 5px 0 ;
    background-color: black;
    color: white;
    font-size: 80px;
}

.functions{
    height: 450px;
    width: 450px;
    border: 4px solid red;
    border-top: transparent;
    border-radius: 0 0 30px 30px;
    padding: 5px 0 5px 5px;
    background-color: black;
    display: block;
    justify-content: center;
    align-items: center;
}
.row1{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.row2{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.row3{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.row4{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.row5{
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

button{
    background: transparent;
    color: white !important;
}

.row1 button{
    width: 100px;
    height: 80px;
    border: transparent;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    font-weight: 5px;
}

.row2 button{
    margin-top: 10px;
    width: 100px;
    height: 80px;
    border: transparent;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    font-weight: 5px;
}

.row3 button{
    margin-top: 10px;
    width: 100px;
    height: 80px;
    border: transparent;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    font-weight: 5px;

}

.row4 button{
    margin-top: 10px;
    width: 100px;
    height: 80px;
    border: transparent;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    font-weight: 5px;
}

.row5 button{
    margin-top: 10px;
    width: 100px;
    height: 80px;
    border: transparent;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    font-weight: 5px;
}

.zero{
    width: 200px !important;
    border-radius: 20px !important;
    background-color: grey !important;
}
.operator{
    background-color: red !important;
}
.func{
    background-color: grey !important;
}